---
import InvestorForm from "~/components/Forms/InvestorForm";
import Hero from "~/components/widgets/Hero/Hero4.astro";
import Layout from "~/layouts/PageLayout.astro";

const metadata = {
    title: "Register as Investor",
};
---

<Layout metadata={metadata}>
    <div class="grid md:grid-flow-col gap-8 p-10">
        <Hero
            image={{
                src: "/src/assets/icons/illustrations/signup.svg",
                alt: "Register Image",
            }}
            id="hero"
            title="Register Your Interest as a <span class='text-accent highlight'>Kiwi Home Assist</span> Investor"
            tagline="Register to get a detailed PDF on our Real Bonds Model."
        >
            <Fragment slot="subtitle">
                By expressing your genuine interest, you'll instantly receive additional details about how our Real
                Bonds operate and our full Investor Process.<br /><br />We respect your inbox, this is not a marketing
                campaign, you'll only receive relevant updates on next steps and key milestones as we move closer to
                launch, and be notified when registration opens for our private exchange.<br /><br /> Currently, we are seeking
                interest from <a href="/eligibility" class="text-primary hover:underline">eligible investors</a>, but we
                plan to open up to everyone in the future.
            </Fragment>
        </Hero>
        <InvestorForm client:load />
    </div>
</Layout>
