---
import { Icon } from "astro-icon/components";
import Layout from "~/layouts/PageLayout.astro";
import { getHomePermalink } from "~/utils/permalinks";

const metadata = {
    title: "404",
};
---

<Layout metadata={metadata}>
    <section class="flex flex-col items-center h-full p-16">
        <Icon name="illustrations/404" class={"size-[500px] "} />
        <div class="max-w-md text-center">
            <p class="text-3xl font-semibold md:text-3xl">It looks like this page doesn't exist.</p>
            <p class="mt-4 mb-8 text-lg text-muted dark:text-slate-400">
                But dont worry, you can find plenty of other things on our homepage.
            </p>
            <a rel="noopener noreferrer" href={getHomePermalink()} class="btn ml-4">Back to homepage</a>
        </div>
    </section>
</Layout>
