---
import Layout from "~/layouts/PageLayout.astro";
import HeroText from "~/components/widgets/Hero/HeroText.astro";
import Features2 from "~/components/widgets/Features/Features2.astro";
import ContactForm from "~/components/Forms/ContactForm";

const metadata = {
    title: "Contact",
};
---

<Layout metadata={metadata}>
    <div class="0">
        <HeroText tagline="Get in touch" title="Contact Us" />

        <ContactForm client:load />
    </div>

    <Features2
        title="We are here to help!"
        items={[
            {
                title: "Phone",
                description: "+1 (234) 567-890",
                icon: "tabler:headset",
            },
            {
                title: "Email",
                description: "contact@kiwihomeassist.co.nz",
                icon: "tabler:mail",
            },
            {
                title: "Location",
                description: "1234 Lorem Ipsum St, 12345, Miami, EEUU",
                icon: "tabler:map-pin",
            },
        ]}
    />
</Layout>
